<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <header>
        
        
        <div class="auth">
            <span id="register">Зарегистрироваться</span>
            <span id="login">Войти</span>
            
        </div>
        <span id="apiname">SimpleTaskManager</span>
        
    </header>
    <div class="content">
        <div class="main">
            <h1>Your tasks</h1>
            <ol class="tasks">
                <li class="task">Buy bread</li>
                <li class="task">Buy beer</li>
                <li class="task">Buy videogames</li>
                <li class="task">Buy kaspersky licence</li>
                <li class="task">Buy adobe creative cloud license</li>
            </ol>
            
        </div>
        <div class="aside">
            <h2>Add task</h2>
            <form action="#">
                <input type="text" placeholder="Task name"><br>
                <input type="text" placeholder="Priority"><br>
                <input type="text" placeholder="Due Date"><br>
                <input type="submit">
            </form>
        </div>
    </div>
    <footer>
        тут ничего нет --
    </footer>
</body>
</html>